<h4 class="text-3xl font-bold mb-5">Proyectos personales</h4>

<div class="flex flex-wrap -mx-2">

    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/5 p-3">
        <div class="flex flex-col h-full bg-gray-800 border border-gray-700 rounded-t-lg shadow-sm hover:bg-gray-700">
            <div class="flex justify-center">
                <img class="object-contain h-full w-full rounded-t-lg" src="assets/images/personales/clearable.webp"
                    alt="">
            </div>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Clearable Dropdown</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Es un paquete de Flutter permitiendo al usuario eliminar la
                    selección actual mediante un botón de
                    limpieza. Ofrece una interfaz más flexible y conveniente para formularios o filtros,
                    altamente configurable con estilos personalizados, FocusNode, validación, y más.
                </p>


            </div>

            <div class="flex flex-wrap mt-auto pl-4 mb-3">
                <a target="_blank" href="https://github.com/MarioRam0s/clearable_dropdown"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="fa-brands fa-github mr-2"></i>
                    Codigo
                </a>
                <a target="_blank" href="https://pub.dev/packages/clearable_dropdown"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="mr-2 fa-solid fa-solid fa-globe"></i>
                    Producción
                </a>
            </div>
        </div>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/5 p-3">
        <div class="flex flex-col h-full bg-gray-800 border border-gray-700 rounded-t-lg shadow-sm hover:bg-gray-700">
            <div class="flex justify-center">
                <img class="object-contain h-full w-full rounded-t-lg" src="assets/images/personales/lorddev.webp"
                    alt="">
            </div>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portafolio v1</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Portafolio personal desarrollada con Angular, diseñada para
                    presentar la trayectoria, habilidades y proyectos de un desarrollador de software. Cuenta con una
                    interfaz moderna, navegación fluida y secciones organizadas como "Sobre mí", "Educación", "Metas",
                    "Contacto" y más. Su diseño responsive y estructura clara la hacen ideal para destacar tu perfil
                    profesional de forma elegante y accesible.
                </p>


            </div>

            <div class="flex flex-wrap mt-auto pl-4 mb-3">
                <a target="_blank" href="https://github.com/MarioRam0s/Portafolio"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="fa-brands fa-github mr-2"></i>
                    Codigo
                </a>
                <a target="_blank" href="https://lorddev.netlify.app"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="mr-2 fa-solid fa-solid fa-globe"></i>
                    Producción
                </a>
            </div>
        </div>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/5 p-3">
        <div class="flex flex-col h-full bg-gray-800 border border-gray-700 rounded-t-lg shadow-sm hover:bg-gray-700">
            <div class="flex justify-center">
                <img class="object-contain h-full w-full rounded-t-lg" src="assets/images/personales/cardmemory.webp"
                    alt="">
            </div>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Card Memory</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Es un juego web interactivo de memoria inspirado en personajes del universo
                    Marvel. El juego desafía a los usuarios a encontrar pares de cartas iguales en el menor tiempo
                    posible. Cuenta con una interfaz dinámica, efectos visuales llamativos y una experiencia responsive,
                    ideal para usuarios de todas las edades que buscan entretenimiento casual.
                </p>


            </div>
            <div class="flex flex-wrap mt-auto pl-4 mb-3">
                <a target="_blank" href="https://github.com/Mohasir/Card-Memory-Game"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="fa-brands fa-github mr-2"></i>
                    Codigo
                </a>
                <a target="_blank" href="https://marvel-card-memory.vercel.app/"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="mr-2 fa-solid fa-solid fa-globe"></i>
                    Producción
                </a>
            </div>
        </div>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/5 p-3">
        <div class="flex flex-col h-full bg-gray-800 border border-gray-700 rounded-t-lg shadow-sm hover:bg-gray-700">
            <div class="flex justify-center">
                <img class="object-contain h-full w-full rounded-t-lg" src="assets/images/personales/rickandmorty.webp"
                    alt="">
            </div>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Rick y Morty</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Es una web que permite explorar personajes de la famosa serie Rick
                    and Morty. Desarrollada con Angular y conectada a la API pública de Rick and Morty, ofrece
                    funcionalidades como búsqueda en tiempo real, visualización de detalles por personaje, e indicadores
                    visuales de estado, género y ubicación. Presenta un diseño responsive y atractivo.
                </p>


            </div>

            <div class="flex flex-wrap mt-auto pl-4 mb-3">
                <a target="_blank" href="https://github.com/MarioRam0s/rick-y-morty"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="fa-brands fa-github mr-2"></i>
                    Codigo
                </a>
                <a target="_blank" href="https://web-rick-y-morty.netlify.app/"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="mr-2 fa-solid fa-solid fa-globe"></i>
                    Producción
                </a>
            </div>
        </div>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/5 p-3">
        <div class="flex flex-col h-full bg-gray-800 border border-gray-700 rounded-t-lg shadow-sm hover:bg-gray-700">
            <div class="flex justify-center">
                <img class="object-contain h-full w-full rounded-t-lg" src="assets/images/personales/country.webp"
                    alt="">
            </div>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Country Web</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Es una aplicación web interactiva desarrollada con Angular que permite buscar y
                    explorar información detallada de países de todo el mundo. Utiliza la API de REST Countries para
                    obtener datos en tiempo real, como la bandera, capital, región, etc. Incluye
                    funciones de búsqueda dinámica, visualización responsive y navegación sencilla a través de rutas.
                </p>

            </div>

            <div class="flex flex-wrap mt-auto pl-4 mb-3">
                <a target="_blank" href="https://github.com/MarioRam0s/CountryApp"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="fa-brands fa-github mr-2"></i>
                    Codigo
                </a>
                <a target="_blank" href="https://webcountrysearch.netlify.app"
                    class="mb-2 mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-600 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><i
                        class="mr-2 fa-solid fa-solid fa-globe"></i>
                    Producción
                </a>
            </div>
        </div>
    </div>
</div>