<component-header></component-header>

<main class="mt-35 mx-10 sm:mx-10 md:mx-20">
  <section class="mb-10 section" id="about">
    <component-about></component-about>
  </section>

  <section class="mb-10" id="experience">
    <component-experience></component-experience>
  </section>

  <section class="mb-10" id="skills">
    <component-skills></component-skills>
  </section>

  <section class="mb-10" id="portfolio">
    <component-portfolio></component-portfolio>
  </section>

  <section class="mb-10" id="education">
    <component-education></component-education>
  </section>

  <section class="mb-10" id="goals">
    <component-goals></component-goals>
  </section>
</main>

<component-footer></component-footer>